# Virtual Environment
.venv/
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Local Environment & Secrets
.env
*.local

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS specific
.DS_Store
Thumbs.db
